<!-- ============================================================ -->
<!-- MULTIPLE CHOICE                                     -->
<!-- ============================================================ -->
<!--
ctlAnswer   A, B, C or D value of the answer.
ctlLetter   A, B, C or D value of this control.
ctlSelected A, B, C or D value already selected for ctlStatus = 'Seen Correct' or 'Seen Incorrect'.  Empty for ctlStatus = 'Play Question'.
ctlStatus   Expect only 'Play Question', 'Seen Correct' or 'Seen Incorrect', though there are additional statuses.
ctlText     The text of this choice.
-->
<div *ngIf="mcCardType == 'Multiple Choice' || mcCardType == 'True False'">

   <!-- ============================================================ -->
  <!-- ANSWER:  Multiple Choice: Row A                              -->
  <!-- ============================================================ -->
  <ctl-mult-choice [ctlAnswer]="mcAnswer"
                   [ctlLetter]="'A'"
                   [ctlSelected]="mcSelected"
                   [ctlStatus]="mcStatus"
                   [ctlText]="mcTextA"

                   (ctlChoice)="mcSelect($event)">
  </ctl-mult-choice>
  <!-- ============================================================ -->
  <!-- ANSWER:  Multiple Choice: Row B                              -->
  <!-- ============================================================ -->
  <ctl-mult-choice [ctlAnswer]="mcAnswer"
                   [ctlLetter]="'B'"
                   [ctlSelected]="mcSelected"
                   [ctlStatus]="mcStatus"
                   [ctlText]="mcTextB"

                   (ctlChoice)="mcSelect($event)">
  </ctl-mult-choice>
  <!-- ============================================================ -->
  <!-- ANSWER:  Multiple Choice: Row C                              -->
  <!-- ============================================================ -->
  <ctl-mult-choice [ctlAnswer]="mcAnswer"
                   [ctlLetter]="'C'"
                   [ctlSelected]="mcSelected"
                   [ctlStatus]="mcStatus"
                   [ctlText]="mcTextC"

                   (ctlChoice)="mcSelect($event)">
  </ctl-mult-choice>
  <!-- ============================================================ -->
  <!-- ANSWER:  Multiple Choice: Row D                              -->
  <!-- ============================================================ -->
  <ctl-mult-choice [ctlAnswer]="mcAnswer"
                   [ctlLetter]="'D'"
                   [ctlSelected]="mcSelected"
                   [ctlStatus]="mcStatus"
                   [ctlText]="mcTextD"

                   (ctlChoice)="mcSelect($event)">
  </ctl-mult-choice>
</div>
