<!-- ============================================================ -->
<!-- MULTIPLE CHOICE                                     -->
<!-- ============================================================ -->
<!--Uses:  answerGivenLetter Has value when in 'Seen ...' status
           answerLetter    A, B, C or D (variable)
           cardStatus      Only visible if 'Play Question', 'Seen Correct' or 'Seen Incorrect'
           cardType        Only visible if 'Multiple Choice' or 'True False'
           choiceAnswer    Answer, Ans1Alt, Ans2Alt, or Ans3Alt
           choiceLetter    A, B, C, or D (fixed: A first, etc.)-->

<!-- ============================================================ -->
<!-- ANSWER:  Multiple Choice: Row A                              -->
<!-- ============================================================ -->
<ctl-mult-choice [answerLetter]="answerLetter"
                 [answerGivenLetter]="answerGivenLetter"
                 [cardStatus]="cardStatus"
                 [cardType]="cardType"
                 [choiceAnswer]="answer"
                 [choiceLetter]="'A'"
                 (answerGiven)="selectAnswer($event)">
</ctl-mult-choice>
<!-- ============================================================ -->
<!-- ANSWER:  Multiple Choice: Row B                              -->
<!-- ============================================================ -->
<ctl-mult-choice [answerLetter]="answerLetter"
                 [answerGivenLetter]="answerGivenLetter"
                 [cardStatus]="cardStatus"
                 [cardType]="cardType"
                 [choiceAnswer]="ans1Alt"
                 [choiceLetter]="'B'"
                 (answerGiven)="selectAnswer($event)">
</ctl-mult-choice>

<!-- ============================================================ -->
<!-- ANSWER:  Multiple Choice: Row C                              -->
<!-- ============================================================ -->
<ctl-mult-choice [answerLetter]="answerLetter"
                 [answerGivenLetter]="answerGivenLetter"
                 [cardStatus]="cardStatus"
                 [cardType]="cardType"
                 [choiceAnswer]="ans2Alt"
                 [choiceLetter]="'C'"
                 (answerGiven)="selectAnswer($event)">
</ctl-mult-choice>

<!-- ============================================================ -->
<!-- ANSWER:  Multiple Choice: Row D                              -->
<!-- ============================================================ -->
<ctl-mult-choice [answerLetter]="answerLetter"
                 [answerGivenLetter]="answerGivenLetter"
                 [cardStatus]="cardStatus"
                 [cardType]="cardType"
                 [choiceAnswer]="ans3Alt"
                 [choiceLetter]="'D'"
                 (answerGiven)="selectAnswer($event)">
</ctl-mult-choice>

