<form onsubmit="" class="form-horizontal">
  <!-- ============================================================ -->
  <!-- HEADER                                                       -->
  <!-- ============================================================ -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h1><span class='glyphicon glyphicon-question-sign'></span> <span class="green">Mind</span><span class="red">Pup</span>: What's Up</h1>
      </div>
    </div>
  </div>
  <!-- end header panel -->
  <!-- body -->
  <div class="panel-body">
    <!-- ============================================================ -->
    <!-- INTRO                                                        -->
    <!-- ============================================================ -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ titleVal }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ descriptionVal }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>
          <button class="btn btn-primary" (click)="moveOn('Down')">
            <span class="glyphicon glyphicon-arrow-left "></span> Previous
          </button>&nbsp;&nbsp;
        </span>

        <span *ngIf="isAtEnd == false">
          <button class="btn btn-primary" (click)="moveOn('Up')">
            <span class="glyphicon glyphicon-arrow-right "></span> Next
          </button>&nbsp;&nbsp;
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-info" (click)="onExplore()">
          <span class="glyphicon glyphicon-search "></span> Explore
        </button>
      </div>
    </div>
  </div>
  <!-- end panel-form-group -->
</form>



