<!-- ============================================================ -->
<!-- CONTROL: MULTIPLE CHOICE                                     -->
<!-- ============================================================ -->
<!-- 
ctlAnswer   A, B, C or D value of the answer.
ctlLetter   A, B, C or D value of this control. 
ctlSelected A, B, C or D value already selected for ctlStatus = 'Seen Correct' or 'Seen Incorrect'.  Empty for ctlStatus = 'Play Question'.
ctlStatus   Expect only 'Play Question', 'Seen Correct' or 'Seen Incorrect', though there are additional statuses.
ctlText     The text of this choice.
-->

<div class="row pad-left answer" *ngIf="(ctlStatus == 'Play Question' || 
                                         ctlStatus == 'Seen Correct'  || 
                                         ctlStatus == 'Seen Incorrect')">
  <div class="col-md-12">
    <div (click)="ctlSelect(ctlLetter)"
         [class.answer-a]         ="ctlStatus == 'Play Question'  && ctlLetter == 'A'"
         [class.answer-b]         ="ctlStatus == 'Play Question'  && ctlLetter == 'B'"
         [class.answer-c]         ="ctlStatus == 'Play Question'  && ctlLetter == 'C'"
         [class.answer-d]         ="ctlStatus == 'Play Question'  && ctlLetter == 'D'"

         [class.correct-answer]   ="ctlStatus != 'Play Question'  && ctlLetter == ctlAnswer"
         [class.incorrect-answer] ="ctlStatus == 'Seen Incorrect' && ctlLetter == ctlSelected"
         [class.other-answer]     ="ctlStatus != 'Play Question'  && ctlLetter != ctlAnswer && ctlLetter != ctlSelected">
      &nbsp;&nbsp;
      <span>
        {{ ctlText }}
      </span>
    </div>
  </div>
</div>


