<form onsubmit="" class="form-horizontal">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h1><span class='glyphicon glyphicon-phone'></span> Contact</h1>
      </div>
    </div> 
  </div> 
  <!-- body -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        <label>Email</label>
      </div>
      <div class="col-md-11">
       <!--{{ contacts.EmailMain }}-->
      </div>
    </div>  
    <div class="row">
      <div class="col-md-1">
        <label>Phone</label>
      </div>
      <div class="col-md-11">
        <!--{{ contacts.PhoneMain }}-->
      </div>
    </div>  
    <div class="row">
      <div class="col-md-1">
        <label>Address</label>
      </div>
      <div class="col-md-11">
        <!--{{ contacts.AddressLine1 contacts.AddressLine2 contacts.AddressLine3 }}-->
      </div>
    </div>  
  </div> 
</form>

