<form onsubmit="" class="form-horizontal">
  <div class="panel-heading">
    <div class="row">
      <!-- ============================================================ -->
      <!-- BUTTONS to major parts of the application                    -->
      <!-- ============================================================ -->
      <div class="col-md-12">
        <br />
        <!-- ============================================================ -->
        <!-- EXPLORE button                                               -->
        <!-- ============================================================ -->
        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-search "></span>
          &nbsp;Explore
        </button>
        &nbsp;
        <!-- ============================================================ -->
        <!-- CREATE button                                               -->
        <!-- ============================================================ -->
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-education "></span>
          &nbsp;Create
        </button>
        &nbsp;
        <!-- ============================================================ -->
        <!-- SIGN IN button                                               -->
        <!-- ============================================================ -->
        <span *ngIf="isLoggedIn == false">
          <button class="btn btn-info" (click)="onLogIn()">
            <span class="glyphicon glyphicon-arrow-right "></span>
            &nbsp;Sign In
          </button>
        </span>
        <!-- ============================================================ -->
        <!-- WELCOME if signed in already                                 -->
        <!-- ============================================================ -->
        <span *ngIf="isLoggedIn == true">
          <span class="blue">Welcome, {{ userName }}!</span>
        </span>
      </div>
    </div>
    <!-- end header panel -->
    <!-- body -->
    <div class="panel-body">
      <div class="row">
        <!-- ============================================================ -->
        <!-- ROTATOR                                                      -->
        <!-- ============================================================ -->
        <div class="col-md-12">
          <!--<img src="../../../../wwwroot/images/MP Rotator 00.jpg" />-->
          <img src="../../../../wwwroot/images/mind-pup-logo.png" />
        </div>
      </div>
    </div>
  </div>
  <!-- end body panel -->
</form>



