<form onsubmit="" class="form-horizontal">
  <div class="panel-heading">
    <div class="row">
      <!-- ============================================================ -->
      <!-- LOGO                                                         -->
      <!-- ============================================================ -->
      <div class="col-md-4">
        <img src="/images/mind-pup-logo.png" />
      </div>
      <div class="col-md-8" *ngIf="isLoggedIn == false">
        <br />
        <!-- ============================================================ -->
        <!-- LOG IN button                                                -->
        <!-- ============================================================ -->
        <button class="btn btn-info" (click)="onLogIn()">
          <span class="glyphicon glyphicon-arrow-right "></span>
          &nbsp;Log In
        </button>
        <br />
        &nbsp;
        <br />
        <!-- ============================================================ -->
        <!-- FREE ACCOUNT button                                          -->
        <!-- ============================================================ -->
        <button class="btn btn-success">
          <span class="glyphicon glyphicon-arrow-up "></span>
          &nbsp;Free Account
        </button>
      </div>
      <div class="col-md-8" *ngIf="isLoggedIn == true">
        <span class="blue">Welcome, {{ userName }}!</span>
      </div>
    </div>
  </div>
  <!-- end header panel -->
  <!-- body -->
  <div class="panel-body">
    <div class="row" *ngIf="isIntro == false">
      <!-- ============================================================ -->
      <!-- LEARN ABOUT textbox                                          -->
      <!-- ============================================================ -->
      <div class="col-md-2">
        <label>Learn about&nbsp;</label>
      </div>
      <div class="col-md-10">
        <input type="text" name="searchKey" (keypress)="onSearchKeyPress(searchKey.value)" #searchKey />
        <br />
        {{ searchEntry }}
        <!-- ============================================================ -->
        <!-- INTRO link                                                   -->
        <!-- ============================================================ -->
        <a href="intro">MindPup? What's Up?</a>
      </div>
    </div>
    <div #Intro class="row" *ngIf="isIntro == true">
      <!-- ============================================================ -->
      <!-- INTRO                                                        -->
      <!-- ============================================================ -->
      <div class="col-md-12">
        Mind Pup is a new way of learning anything you want to learn.
      </div>

      <div class="col-md-12">
        <button class="btn btn-info" (click)="onRestore()">
          <span class="glyphicon glyphicon-arrow-up "> Restore</span>
          &nbsp;Log In
        </button>
      </div>
    </div>
  </div>
  <!-- end body panel -->
</form>



